* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
}

/* 街道 */
.street {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 6vw 115px;
  background-color: #0b2e4e;
  overflow: hidden;
}
.street::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 25vh;
  background-color: #000000;
}

/* 超市 */
.market {
  position: relative;
  display: flex;
  width: 520px;
  height: 270px;
  background-color: #fffecc;
  border: 4px solid #333333;
  border-top-width: 50px;
  box-shadow: 0 22px 110px 12px #f5efa1;
}
.market__name {
  position: absolute;
  top: -38px;
  left: 20px;
  font-family: sans-serif;
  font-size: 1.4em;
  letter-spacing: 0.4em;
  color: #bdf8ff;
  text-transform: uppercase;
  text-shadow: 0px 0px 9px #95cfef;
  animation: signboardFlashes 5s infinite alternate linear;
}
.market__fold {
  position: relative;
  width: 25%;
  border: 8px solid #000000;
}
.market__fold--left {
  animation: doorMovesLeft 20s infinite linear;
}
.market__fold--right {
  animation: doorMovesRight 20s infinite linear;
}
.market__fold::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 2px 1px #f3f1d5;
}

/* 月亮 */
.moon {
  position: absolute;
  top: -145px;
  left: -50px;
  width: 40px;
  height: 40px;
  background-color: #ffffc9;
  border-radius: 50%;
  box-shadow: 0 0 20px 1px #ffffc9;
  animation: moonMoves 360s infinite alternate linear;
}

/* 猫 */
.cat {
  /* 躯干 */
  --cat-color: #000000;
  position: absolute;
  left: -200px;
  bottom: -24px;
  width: 46px;
  height: 30px;
  margin: auto;
  color: var(--cat-color);
  background-color: var(--cat-color);
  border-radius: 30px;
  animation: catRuns 20s infinite linear;
}
.cat__head {
  /* 头 */
  position: absolute;
  right: -10px;
  top: -8px;
  width: 24px;
  height: 24px;
  background-color: inherit;
  border-radius: 50%;
  animation: catMovesHead 0.3s infinite linear;
}
.cat__head::before, .cat__head::after {
  content: "";
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: inherit;
  border-radius: 2px;
}
.cat__head::before {
  left: 2px;
  transform: rotate(16deg);
}
.cat__head::after {
  right: 2px;
  transform: rotate(-16deg);
}
.cat__tail {
  /* 尾巴 */
  position: absolute;
  left: -18px;
  top: -22px;
  width: 30px;
  height: 42px;
  border-radius: 50%;
  border: 7px solid var(--cat-color);
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform-origin: right;
  animation: catMovesTail 0.3s infinite linear;
}
.cat__leg {
  /* 四肢 */
  position: absolute;
  bottom: -12px;
  width: 6px;
  height: 20px;
  background-color: inherit;
  border-radius: 3px;
  transform-origin: top;
}
.cat__leg--1, .cat__leg--2 {
  left: 5px;
}
.cat__leg--3, .cat__leg--4 {
  right: 5px;
}
.cat__leg--1, .cat__leg--3 {
  transform: rotate(24deg);
  animation: catMovesLegs 0.6s infinite linear;
}
.cat__leg--2, .cat__leg--4 {
  transform: rotate(-24deg);
  animation: catMovesLegs 0.6s infinite -0.3s linear;
}


/* keyframes */
@keyframes signboardFlashes {
  0% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  36% {
    opacity: 0;
  }
  37% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  72% {
    opacity: 0;
  }
  73% {
    opacity: 1;
  }
  74% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes doorMovesLeft {
  0% {
    transform: translateX(0);
  }
  28% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-90%);
  }
  54% {
    transform: translateX(-90%);
  }
  56% {
    transform: translateX(0);
  }
  83% {
    transform: translateX(0);
  }
  85% {
    transform: translateX(-90%);
  }
  97% {
    transform: translateX(-90%);
  }
  99% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes doorMovesRight {
  0% {
    transform: translateX(0);
  }
  28% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(90%);
  }
  54% {
    transform: translateX(90%);
  }
  56% {
    transform: translateX(0);
  }
  83% {
    transform: translateX(0);
  }
  85% {
    transform: translateX(90%);
  }
  97% {
    transform: translateX(90%);
  }
  99% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moonMoves {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(300px, -10px);
  }
  100% {
    transform: translate(600px, 0);
  }
}


@keyframes catMovesHead {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes catMovesTail {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes catMovesLegs {
  0% {
    transform: rotate(36deg);
  }
  50% {
    transform: rotate(-36deg);
  }
  100% {
    transform: rotate(36deg);
  }
}

@keyframes catRuns {
  0% {
    transform: translateX(0) rotateY(0);
  }
  70% {
    transform: translateX(800px) rotateY(0);
  }
  71% {
    transform: translateX(1000px) rotateY(180deg);
  }
  100% {
    transform: translateX(0) rotateY(180deg);
  }
}