html,
body,
.circle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}


.circle,
.circle::before,
.circle::after {
  border-width: .4em;
  border-style: solid;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: animate 4s ease-in-out infinite alternate;
}
.circle {
  width: 10em;
  height: 10em;
  border-top-color: red;
  border-bottom-color: blue;
  font-size: 20px;
  position: relative;
}
.circle::before,
.circle::after {
  position: absolute;
  content: '';
}
.circle::before {
  width: 7em;
  height: 7em;
  border-top-color: orange;
  border-bottom-color: cyan;
  animation-duration: 8s;
}
.circle::after {
  width: 4em;
  height: 4em;
  border-top-color: yellow;
  border-bottom-color: limegreen;
  animation-duration: 16s;
}

@keyframes animate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1440deg);
  }
}