html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(brown, sandybrown);
}

.text {
  font-size: 5em;
  font-family: 'arial black';
  position: relative;
  color: transparent;
}

.text::before,
.text::after {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  color: lightyellow;
}
.text::before {
  /* background-color: darkgreen; */
  clip-path: polygon(0 0, 60% 0, 30% 100%, 0 100%);
}
.text::after {
  /* background-color: darkblue; */
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 30% 100%);
}

.text:hover::before {
  left: -.15em;
  transform: rotate(-5deg);
  top: -0.05em;
}
.text:hover::after {
  left: .15em;
  transform: rotate(5deg);
  top: 0.05em;
}