body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(deepskyblue, skyblue, lightblue 20%);
}

.balloon {
  --ball_radius: 12em;
  width: var(--ball_radius);
  height: 19em;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: drift 2s infinite alternate;
}

@keyframes drift {
  to {
    transform: translate(-1%, -5%);
  }
}

.balloon__envelope {
  position: relative;
  width: var(--ball_radius);
  height: 16em;
  overflow: hidden;
}
.balloon__envelope span {
  position: absolute;
  width: var(--ball_radius);
  height: var(--ball_radius);
  color: orange;
  background-color: currentColor;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.balloon__envelope span:nth-child(2) {
  transform: scaleX(0.4);
  filter: brightness(0.85) contrast(1.4);
}
.balloon__envelope span::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10em 5.5em 0 5.5em;
  border-style: solid;
  border-color: currentColor transparent transparent transparent;
  top: 8.39em;
}

.balloon__basket {
  position: relative;
  width: 2em;
  height: 3em;
  display: flex;
  justify-content: center;
}
.balloon__basket::before {
  content: '';
  position: absolute;
  width: inherit;
  height: 1.6em;
  background-color: peru;
  bottom: 0;
  border-radius: 0 0 0.5em 0.5em;
}
.balloon__basket::after {
  content: '';
  position: absolute;
  width: 105%;
  height: 0.3em;
  background-color: saddlebrown;
  left: calc((100% - 105%) / 2);
  top: 1.3em;
  border-radius: 0.3em;
}
.balloon__basket span {
  position: absolute;
  width: 0.1em;
  height: 1.5em;
  background-color: burlywood;
  left: calc((var(--n) - 1) * 0.6em);
  transform-origin: bottom;
  transform: rotate(calc(var(--r) * 7deg));
}
.balloon__basket span:nth-child(1) { --n: 1; --r: -2; }
.balloon__basket span:nth-child(2) { --n: 2; --r: -1; }
.balloon__basket span:nth-child(3) { --n: 3; --r: 1; }
.balloon__basket span:nth-child(4) { --n: 4; --r: 2; }