body {
  margin: 0;
}

.sky {
  width: 100vw;
  height: 100vh;
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.sun,
.moon {
  position: absolute;
  width: 50vmin;
  height: 50vmin;
  border-radius: 50%;
}
.sun {
  background-color: gold;
}
.moon {
  background-color: slategray;
  transform: translateX(-55vmin);
}

.sky,
.sun,
.moon {
  animation: 10s linear infinite;
}
.sky {
  animation-name: animate-sky;
}
.sun {
  animation-name: animate-sun;
}
.moon {
  animation-name: animate-moon;
}

@keyframes animate-sky {
  50% {
    background-color: black;
  }
}
@keyframes animate-sun {
  50% {
    box-shadow: 0 0 5em 1em white;
  }
}
@keyframes animate-moon {
  from {
      transform: translateX(-100vmin);
  }
  50% {
      background-color: black;
  }
  to {
      transform: translateX(100vmin);
  }
}