body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightyellow;
}

nav ul {
  padding: 0;
  list-style-type: none;
}

nav li {
  width: 8em;
  height: 2em;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: snas-serif;
  text-transform: uppercase;
  position: relative;
  margin: 0.8em;
  transition: 0.5s;
  user-select: none;
}

nav li::before,
nav li::after {
  content: '';
  position: absolute;
  width: 0.6em;
  height: 0.6em;
  background-color: gainsboro;
  border-radius: 50%;
  transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
}
nav li::before {
  top: calc(50% - 0.6em / 2);
  left: 0;
}
nav li::after {
  bottom: calc(50% - 0.6em / 2);
  right: 0;
}

nav li:hover {
  color: white;
}
nav li:hover::before,
nav li:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 0.2em;
  background-color: dodgerblue;
}
nav li:hover::before {
  z-index: -1;
  top: 0;
}
nav li:hover::after {
  z-index: -2;
  bottom: -0.4em;
  right: -0.4em;
  filter: brightness(0.8);
}