html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(cadetblue, darkcyan);
}

nav {
  width: 300px;
  height: 300px;
  --bgcolor: lemonchiffon;
  background-color: var(--bgcolor);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px 0;
}

nav ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
nav ul li {
  font-size: 28px;
  font-family: serif;
  color: brown;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  transition: 0.5s ease-out;
  cursor: pointer;
}
nav ul li:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .1),
              0 4px 4px rgba(0, 0, 0, .1),
              0 4px 4px rgba(0, 0, 0, .1),
              0 4px 4px rgba(0, 0, 0, .1);
  transform: scale(1.02) translateY(-0.25em) perspective(300px) rotateX(5deg);
}